@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  background-color: #eee;
  font-size: 1.6rem;
}

html {
  /* set rem 1rem = 10px */
  font-size: 62.5%;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
h1,
h2 {
  font-size: 2.2rem;
  font-weight: 500;
}
h3,
h4 {
  font-size: 1.8rem;
}
span,
a {
  display: inline-block;
}

.container-width {
  width: 85%;
  margin: auto;
}

.navbar {
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}
.nav {
  display: flex;
}
.menu-left {
  width: 30%;
}
.menu-left ul {
  display: flex;
  gap: 1rem;
}
.menu-left ul li {
  padding: 1.5rem 1rem;
  /* background-color: lightslategray; */
}
.menu-left ul li:hover {
  background-color: rgb(222, 222, 222);
  cursor: pointer;
}

.menu-center {
  width: 20%;
  /* background-color: indianred; */
  display: flex;
  align-items: center;
  justify-content: end;
}
.menu-center img {
  width: 130px;
}

.menu-right {
  width: 50%;
}
.menu-right ul {
  display: flex;
  align-items: center;

  height: 100%;
  gap: 0.5rem;
}
.menu-right ul li {
  height: 100%;
  display: flex;
  padding: 0 1.5rem;
  align-items: center;
}
.menu-right ul li:hover:not(:first-child) {
  background-color: rgb(222, 222, 222);
  cursor: pointer;
}
.search {
  display: flex;
  height: 65%;
  border: 1px solid gray;
  width: 150px;
  border-radius: 0.8rem;
  overflow: hidden;
}
.search input {
  width: 75%;
  border: none;
}

.search input:focus {
  outline: none;
}

.search span {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
