@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  background-color: #eee;
  font-size: 1.6rem;
}

html {
  /* set rem 1rem = 10px */
  font-size: 62.5%;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
h1,
h2 {
  font-size: 2.2rem;
  font-weight: 500;
}
h3,
h4 {
  font-size: 1.8rem;
}
span,
a {
  display: inline-block;
}

.container-width {
  width: 85%;
  margin: auto;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  /* box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px; */
}

.shadow {
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  background-color: whitesmoke;
}
.nav {
  display: flex;
}
.menu-left {
  width: 30%;
}
.menu-left ul {
  display: flex;
  gap: 1rem;
}
.menu-left ul li {
  padding: 1.5rem 1rem;
  /* background-color: lightslategray; */
}
.menu-left ul li:hover {
  background-color: rgb(222, 222, 222);
  cursor: pointer;
}

.menu-center {
  width: 20%;
  /* background-color: indianred; */
  display: flex;
  align-items: center;
  justify-content: end;
}
.menu-center img {
  width: 130px;
}

.menu-right {
  width: 50%;
}
.menu-right ul {
  display: flex;
  align-items: center;

  height: 100%;
  gap: 0.5rem;
}
.menu-right ul li {
  height: 100%;
  display: flex;
  padding: 0 1.5rem;
  align-items: center;
}
.menu-right ul li:hover:not(:first-child) {
  background-color: rgb(222, 222, 222);
  cursor: pointer;
}
.search {
  display: flex;
  height: 65%;
  border: 1px solid gray;
  width: 150px;
  border-radius: 0.8rem;
  overflow: hidden;
}
.search input {
  width: 75%;
  border: none;
}

.search input:focus {
  outline: none;
}

.search span {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  height: 650px;
}

.hero-btn {
  position: absolute;
  bottom: 15%;
  display: flex;
  gap: 20px;
}
.hero-btn button {
  padding: 1.3rem 2.5rem;
  border-radius: 0.5rem;
  border: black 2px solid;
  font-size: 2rem;
  font-weight: bold;
  background-color: transparent;
  transition: all 0.3s;
}
.hero-btn button:hover {
  box-shadow:
    rgba(0, 0, 0, 0.09) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;

  transform: translateY(-5px);
}

.brand {
  height: 200px;
  background-color: white;
  display: flex;
}
.brand div {
  height: 100%;
  background-color: blue;
}
.brand div img {
  width: 100%;
  height: 100%;
}

.slide {
  height: 350px;
  /* background-color: black; */
}
/* main card */
.main-card {
  /* height: 700px; */
  /* background-color: red; */
}
.header-main-card {
  /* background-color: blueviolet; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
}
.header-main-card h1 {
  font-size: 2.8rem;
}
.header-main-card a {
  font-size: 1.8rem;
  color: black;
}
.body-main-card {
  /* background-color: aqua; */
  height: auto;
}

.cards {
  width: 100%;
  height: 450px;
  /* background-color: cadetblue; */
}
.img-card {
  height: 75%;
  /* background-color: chartreuse; */
  position: relative;
}
.img-card img {
  width: 100%;
  height: 100%;
}
.card-body {
  height: 25%;
  /* background-color: coral; */
  display: flex;
  padding: 1.3rem;
}
.card-text {
  width: 85%;
  /* background-color: cornflowerblue; */
}
.price {
  display: block;
  font-size: 1.6rem;
}
.price span:first-child {
  color: red;
  font-weight: bold;
}
.price span:last-child {
  text-decoration: line-through;
}
.card-text p {
  font-size: 1.5rem;
  margin-top: 0.8rem;
}
.dis {
  position: absolute;
  left: 6%;
  top: 5%;

  background: red;
  padding: 0.5rem 1.2rem;
  border-radius: 0.5rem;
}
.brand-name {
  position: absolute;
  bottom: 5%;
  right: 5%;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}

.color {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}
.color li {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  border: 1px solid gray;
}
.color li:first-child {
  background-color: red;
}
.color li:last-child {
  background-color: blue;
}

/* footer */
.footer {
  height: 400px;
  background-color: red;
  display: flex;
  flex-wrap: wrap;
}
.footer > div {
  width: 20%;
  background-color: blue;
}
